groups:
  - name: meta_monitoring
    rules:
      - alert: Monitoring_PrometheusDown
        expr: up{job="prometheus-monitoring"} == 0
        for: 2m
        labels:
          severity: critical
          name: "Monitoring prometheus"
        annotations:
          summary: "Monitoring Container Down: Prometheus"
          description: "The main monitoring instance is not responding."

      - alert: Monitoring_LokiDown
        expr: up{job="loki-monitoring"} == 0
        for: 2m
        labels:
          severity: critical
          name: "Monitoring loki"
        annotations:
          summary: "Monitoring Container Down: Loki"
          description: "Log aggregation system is not reachable."

      - alert: Monitoring_LowDiskSpace
        # 1. Alert if disk usage is > 90%
        expr: node_filesystem_free_bytes{mountpoint="/"} / node_filesystem_size_bytes{mountpoint="/"} * 100 < 10
        for: 5m
        labels:
          severity: warning
          name: "Monitoring disk"
        annotations:
          summary: "Monitoring Server Disk is almost full"